    <div id="impress">
      <div class="no-support-message">
        Your browser doesn't support impress.js.  Try Chrome or Safari.
      </div>

      <!-- #1-->
      <div class="step" data-x="0" data-y="0">
        Hello, push your right arrow key and be zen.
      </div>

      <!-- 16-->
      <div class="step" data-x="600" data-y="-800" data-rotate-x="30" data-rotate-y="60" data-rotate-z="90" data-scale="1">
        <h3>
          Zen Programming by Jonny Kang @zenjonny
        </h3>
        <img src="http://24.media.tumblr.com/tumblr_m2t41iH3f71r6jgxto1_500.jpg">
      </div>

      <!-- 17-->
       <div class="step" data-x="5500" data-y="5500" data-rotate-x="0" data-rotate-y="0" data-rotate-z="0" data-scale="15">
        <h3>
          Our wired world
        </h3>
        <p>
        Live and work in a culture of distraction.
        </br>
        Unable to engage in long-form thinking.
        </br>
        Anxious and depression when unstimulated.
        </p>
      </div>

     <div class="step" data-x="5500" data-y="5500" data-rotate-x="0" data-rotate-y="90" data-rotate-z="0" data-scale="15">
        <h3>
          1 : focus
        </h3>
        <div class="whiteborder small">
          <img src="http://macromeme.com/cat/calm-down-bro-lemur.jpg">
        </div>
      </div>

       <div class="step" data-x="5500" data-y="5500" data-rotate-x="90" data-rotate-y="180" data-rotate-z="90" data-scale="15">
        <h3>

        </h3>
        <div class="whiteborder small">
          sleep when you sleep.
        </div>
        <div class="whiteborder small">
          code when you code.
        </div>
        <div class="whiteborder small">
          work when you work.
        </div>
      </div>

      <!-- 2 keep your mind clean-->
      <div class="step" data-x="25000" data-y="28500" data-rotate-x="0" data-rotate-y="0" data-rotate-z="0" data-scale="15">
        <h3>
          2 : Clear your mind
        </h3>
        <p>
        <img src='http://media.tumblr.com/tumblr_m4f3vyj2fc1rnoz2p.jpg'>
        </p>
      </div>

      <div class="step" data-x="25000" data-y="51500" data-rotate-x="0" data-rotate-y="90" data-rotate-z="0" data-scale="15">
        <h3>
          Turn off social media
        </h3>
        <div class="whiteborder small">
          NO Facebook, Twitter, or Hackernews.
          </br>
          It's not just a minute
          </br>
          Put phone on silent.
          <!-- </br>-->
          <!-- Average check people 27 times.-->
        </div>
      </div>

      <div class="step" data-x="25000" data-y="28500" data-rotate-x="90" data-rotate-y="180" data-rotate-z="-90" data-scale="15">
        <h3>
          Your work-flow should look something like:
        </h3>
        <p class="details">
          (Task 1 – Task 2) – Break – (Task 2 – Task 3 – Task 4) – Break.
        </p>
        </br>
        <p class="details">
          And not something completely crazy, chaotic, random and sad, like:
          <br/>
          Task 1 – Email – Task 1 – Facebook – Task 1 – Task 2 – Minibreak – Twitter – Task 2 – Hackernews – Email – Task 3 – Email – Break – Task 2 – Email – Task 3 – Twitter – Hacker News
        </p>
      </div>

      <!-- 19-->
      <div class="step" data-x="-15000" data-y="-8500" data-rotate-x="90" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <h3>
          Have a beginner's mind
        </h3>
      </div>

      <!-- 20-->
      <div class="step" data-x="-15000" data-y="-8500" data-rotate-x="180" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          60-120 minutes of pure coding.
        </div>
      </div>

      <!-- 21-->
      <div class="step" data-x="-15000" data-y="-8500" data-rotate-x="180" data-rotate-y="90" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          short breaks. (meta break)
        </div>
      </div>

     <div class="step" data-x="-15000" data-y="-25500" data-rotate-x="180" data-rotate-y="90" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          Don't multitask
        </div>
      </div>

     <div class="step" data-x="-15000" data-y="-15500" data-rotate-x="0" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          You lose 10 IQ which is more than smoking a joint or pulling an all-nighter.
          </br>
          Become 40% less efficient!
        </div>
      </div>

      <!-- //3-->
     <div class="step" data-x="-28000" data-y="-15500" data-rotate-x="0" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          Why are we so distracted?
        </div>
      </div>

     <div class="step" data-x="-58000" data-y="-15500" data-rotate-x="90" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          Practice
        </div>
      </div>

     <div class="step" data-x="-28000" data-y="-15500" data-rotate-x="180" data-rotate-y="90" data-rotate-z="180" data-scale="10">
        <div class="whiteborder">
          Keep a beginner's mind.
        </div>
      </div>


      <div class="step" data-x="-35000" data-y="18500" data-rotate-x="90" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <h3>
          Don't fill you mind with little shits.
        </h3>
      </div>

      <!-- 20-->
      <div class="step" data-x="-35000" data-y="18500" data-rotate-x="180" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          Learn to focus better to code better.
        </div>
      </div>

      <div class="step" data-x="-49000" data-y="18500" data-rotate-x="180" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          Write less code that does more.
        </div>
      </div>

      <div class="step" data-x="-59000" data-y="18500" data-rotate-x="180" data-rotate-y="0" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          Save time down the raod.
        </div>
      </div>

      <!-- 21-->
      <div class="step" data-x="-35000" data-y="18500" data-rotate-x="180" data-rotate-y="90" data-rotate-z="0" data-scale="10">
        <div class="whiteborder">
          thanks
          <img src="http://25.media.tumblr.com/tumblr_m2pf388xql1qmlsa5o1_500.jpg">
        </div>
      </div>


      <!-- secret slide-->
      <div class="step" data-x="1000" data-y="500" data-rotate-x="0" data-rotate-y="30" data-rotate-z="10" data-scale="40">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="45" data-rotate-y="30" data-rotate-z="10" data-scale="40">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="90" data-rotate-y="30" data-rotate-z="10" data-scale="40">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="135" data-rotate-y="30" data-rotate-z="10" data-scale="40">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="180" data-rotate-y="30" data-rotate-z="10" data-scale="40">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="270" data-rotate-y="30" data-rotate-z="10" data-scale="40">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="360" data-rotate-y="30" data-rotate-z="10" data-scale="40">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="180" data-rotate-y="10" data-rotate-z="5" data-scale="30">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="0" data-rotate-y="0" data-rotate-z="0" data-scale="25">
      </div>
      <div class="step" data-x="1000" data-y="500" data-rotate-x="0" data-rotate-y="0" data-rotate-z="0" data-scale="15">
      </div>

    </div>
    <%= javascript_include_tag "impress.js" %>
