.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }

/* additional styles just to make things look a bit nicer */
body {
  background: url('wood_pattern.png'), repeat;
  font: 24px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
  font-size: 16px;
}
.step {
  margin: 0 auto 24px auto;
  text-align: center;
  font-size: 50px;
  line-height: 70px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
  width: 940px;
}

.step p {
  border-radius: 20px;
  border: 8px dashed black;
  box-shadow: inset 0px 0px 10px 1px black;
  padding: 40px 20px;
}

/* slide2*/
.notime {
  width: 100%;
}
/* slide6*/
.small {
  font-size: 30px;
}
/* 8*/
.whiteborder {
  border: 8px white dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
}

/* 9*/
h3 {
  margin: 30px;
  margin-top: 10px;
}

/* 12*/
.smaller {
  font-size: 30px;
}

/* 18*/
p.details {
  font-size: 20px;
  padding: 10px;
}
